.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed   
 */
}

.container h1,
.container h2,
.container p {
  text-align: center;
}

h1,
h2 {
  text-align: right;
}
.tooltip {
  position: absolute;
  padding: 10px;
  border: 1px solid #344e41;
  border-radius: 5px;
  background-color: #faedcd;
  color: #344e41;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Initially hidden */
}
